.mat-column-city,
.mat-column-name,
.mat-column-summary, 
.mat-column-reasons {
  padding: 0 !important;
  border-right: solid 1px #ccc !important;
}

.mat-cell-city {
  width: 80px !important;
}

.selected {
  background-color: #CFD8DC !important;
}

.mat-cell, .mat-header-cell {
  padding: 0 !important;
}