<mat-table [dataSource]="sights" matSort class="table">
  <!-- Foto Column -->
  <!-- <ng-container matColumnDef="photos">
    <mat-header-cell *matHeaderCellDef> Fotos </mat-header-cell>
    <mat-cell *matCellDef="let sight">
      <mat-card *ngFor="let photo of sight.photos">
        <img mat-card-image [src]="photo" alt="{{ sight.name }}">
      </mat-card>
    </mat-cell>
  </ng-container> -->

  <!-- Other columns... -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let sight"> {{sight.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="small-cell  mat-column-city"> Cidade </mat-header-cell>
      <mat-cell *matCellDef="let sight" class="small-cell  mat-column-city"> {{sight.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="summary">
      <mat-header-cell *matHeaderCellDef> Resumo </mat-header-cell>
      <mat-cell *matCellDef="let sight"> {{sight.summary}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reasons">
      <mat-header-cell *matHeaderCellDef> Motivos </mat-header-cell>
      <mat-cell *matCellDef="let sight"> {{sight.reasons}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row 
      *matRowDef="let row; columns: displayedColumns;" 
      style="cursor: pointer;"
      [class.selected]="row === selectedRow"
      (click)="focusOnSight(row)">
    </mat-row>
</mat-table>