:host {
  display: block; /* or flex, if you prefer */
  height: 100%;
}

agm-map {
  height: 60vh;
}

@media (min-width: 768px) {
  agm-map {
    height: 100vh;
  }
}

.info-window {
  background-color: white;
  width: 200px;

  h2 {
    font-weight: bold;
  }

  .carousel {
    display: flex;
    overflow-x: auto;

    img {
      height: 100px;
      margin-right: 10px;
    }
  }
}