.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .map {
    height: 60%;
    width: 100%;
  }

  .table {
    max-height: 40%;
    width: 100%;
    overflow-y: auto; // permite a rolagem se a tabela for muito longa
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .map {
      height: 100%;
      width: 40%;
    }

    .table {
      max-height: 100%;
      width: 60%;
    }
  }
}